[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
jwt = "*"
psycopg2-binary = "*"
pyjwt = "*"
alembic = "*"
requests = "==1.2.0"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
